# Yelp Data Challenge - Data Preprocessing

## Dataset Introduction

[Yelp Dataset Challenge](https://www.yelp.com/dataset_challenge)

The Challenge Dataset:

    4.1M reviews and 947K tips by 1M users for 144K businesses
    1.1M business attributes, e.g., hours, parking availability, ambience.
    Aggregated check-ins over time for each of the 125K businesses
    200,000 pictures from the included businesses

Cities:

    U.K.: Edinburgh
    Germany: Karlsruhe
    Canada: Montreal and Waterloo
    U.S.: Pittsburgh, Charlotte, Urbana-Champaign, Phoenix, Las Vegas, Madison, Cleveland

Files:

    yelp_academic_dataset_business.json
    yelp_academic_dataset_checkin.json
    yelp_academic_dataset_review.json
    yelp_academic_dataset_tip.json
    yelp_academic_dataset_user.json

## Read data from file and load to Pandas DataFrame, Combine some 

## tables for further analysis

In [1]:
import json
import pandas as pd

In [2]:
import tarfile
tar=tarfile.open('yelp_dataset.tar')

In [9]:
tar.getmembers()

[<TarInfo './._Dataset_Challenge_Dataset_Agreement.pdf' at 0x7f05f76b9368>,
 <TarInfo 'Dataset_Challenge_Dataset_Agreement.pdf' at 0x7f05f76b92a0>,
 <TarInfo './._Yelp_Dataset_Challenge_Round_12.pdf' at 0x7f05f76b9430>,
 <TarInfo 'Yelp_Dataset_Challenge_Round_12.pdf' at 0x7f05f76b94f8>,
 <TarInfo 'yelp_academic_dataset_business.json' at 0x7f05f76b95c0>,
 <TarInfo 'yelp_academic_dataset_checkin.json' at 0x7f05f76b9688>,
 <TarInfo 'yelp_academic_dataset_photo.json' at 0x7f05f76b9750>,
 <TarInfo 'yelp_academic_dataset_review.json' at 0x7f05f76b9818>,
 <TarInfo 'yelp_academic_dataset_tip.json' at 0x7f05f76b98e0>,
 <TarInfo 'yelp_academic_dataset_user.json' at 0x7f05f76b99a8>]

In [11]:
f=tar.extractfile('yelp_academic_dataset_business.json')

In [14]:
type(f)

tarfile.ExFileObject

In [4]:
for m in tar.getmembers():
    f=tar.extractfile(m)
    content=f.read()

In [7]:
tar.extractall()
tar.close

In [6]:
file_business, file_checkin, file_review, file_tip, file_user = [
    'yelp_academic_dataset_business.json',
    'yelp_academic_dataset_checkin.json',
    'yelp_academic_dataset_review.json',
    'yelp_academic_dataset_tip.json',
    'yelp_academic_dataset_user.json'
]

In [4]:
import os
cwd=os.getcwd()

In [5]:
cwd

'/Users/yichu/Documents/bittiger_1803_new/BitTiger-DS501-1803/Homework/Yelp_Data_Challenge_Project/code'

#### Business Data

In [16]:
with open(file_business) as f:
    df_business = pd.DataFrame(json.loads(line) for line in f)

In [17]:
df_business.head(2)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,1314 44 Avenue NE,"{'BikeParking': 'False', 'BusinessAcceptsCredi...",Apn5Q_b6Nz61Tq4XzPdf9A,"Tours, Breweries, Pizza, Restaurants, Food, Ho...",Calgary,"{'Monday': '8:30-17:0', 'Tuesday': '11:0-21:0'...",1,51.091813,-114.031675,Minhas Micro Brewery,,T2E 6L6,24,4.0,AB
1,,"{'Alcohol': 'none', 'BikeParking': 'False', 'B...",AjEbIBw6ZFfln7ePHha9PA,"Chicken Wings, Burgers, Caterers, Street Vendo...",Henderson,"{'Friday': '17:0-23:0', 'Saturday': '17:0-23:0...",0,35.960734,-114.939821,CK'S BBQ & Catering,,89002,3,4.5,NV

In [19]:
df_business.shape

(188593, 15)

#### Checking Data

In [21]:
with open(file_checkin) as f:
    df_checkin = pd.DataFrame(json.loads(line) for line in f)
df_checkin.head(2)

              business_id                                               time
0  7KPBkxAOEtb3QeIL9PEErg  {'Fri-0': 2, 'Sat-0': 1, 'Sun-0': 1, 'Wed-0': ...
1  kREVIrSBbtqBhIYkTccQUg  {'Mon-13': 1, 'Thu-13': 1, 'Sat-16': 1, 'Wed-1...

In [22]:
df_checkin.shape

(157075, 2)

In [ ]:
#shape different from business data

#### Review Data

In [23]:
with open(file_review) as f:
    df_review = pd.DataFrame(json.loads(line) for line in f)
df_review.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,iCQpiavjjPzJ5_3gPD5Ebg,0,2011-02-25,0,x7mDIiDB3jEiPGPHOmDzyw,2,The pizza was okay. Not the best I've had. I p...,0,msQe1u7Z_XuqjGoqhB0J5g
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g

In [24]:
df_review.shape

(5996996, 9)

In [29]:
df_review.business_id.unique().shape

(188593,)

#### Tip Data

In [25]:
 with open(file_tip) as f:
        df_tip = pd.DataFrame(json.loads(line) for line in f)
df_tip.head(2)

,business_id,date,likes,text,user_id
0,tJRDll5yqpZwehenzE2cSg,2012-07-15,0,Get here early enough to have dinner.,zcTZk7OG8ovAmh_fenH21g
1,2ThtBbeDqFkVi6LugUOcVA,2012-11-25,0,Don't use them! Double charged my boyfriend an...,M5n8mMFoeXjnJEV2gxyGGA

In [26]:
df_tip.shape

(1185348, 5)

#### User Data

In [10]:
 with open(file_user) as f:
        df_user = pd.DataFrame(json.loads(line) for line in f)
df_user.head(2)

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,elite,fans,friends,funny,name,review_count,type,useful,user_id,yelping_since
0,3.59,4192,79,4192,3904,19,305,4705,1347,2617,...,"[2017, 2015, 2016, 2014, 2011, 2013, 2012]",298,"[iJg9ekPzF9lkMuvjKYX6uA, ctWAuzS04Xu0lke2Rop4l...",12316,Rob,761,user,18456,EZmocAborM6z66rTzeZxzQ,2009-09-12
1,4.29,144,11,144,64,1,4,97,24,129,...,[None],34,"[r2UUCzGxqI6WPsiWPgqG2A, qewG3X2O4X6JKskxyyqFw...",28,Vivian,80,user,117,myql3o3x22_ygECb8gVo7A,2009-06-27

## Filter data by city and category

* create filters that selects business 
    * that are located in "Las Vegas"
    * that contains "Restaurants" in their category

In [11]:
df_business.columns.values

array(['address', 'attributes', 'business_id', 'categories', 'city',
       'hours', 'is_open', 'latitude', 'longitude', 'name',
       'neighborhood', 'postal_code', 'review_count', 'stars', 'state',
       'type'], dtype=object)

In [29]:
df_business['categories'][:2].apply(str).str.contains('Restaurants')

0    False
1    False
Name: categories, dtype: bool

In [30]:
# Create Pandas DataFrame filters

#city las vegas : bool, first filter
cond_city=df_business['city'] == "Las Vegas"

cond_category_not_null = ~df_business["categories"].isnull()


cont_rest_category=df_business['categories'].apply(str).str.contains('Restaurants')

In [32]:
# Create filtered DataFrame, and name it df_filtered
df_filtered=df_business[cond_city&cont_rest_category&cond_category_not_null]

In [33]:
df_filtered.shape

(6148, 15)

In [34]:
df_filtered.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
19,"3940 Martin Luther King Blvd, Ste 101","{'BikeParking': 'True', 'BusinessAcceptsCredit...",vJIuDBdu01vCA8y1fwR1OQ,"American (Traditional), Food, Bakeries, Restau...",Las Vegas,"{'Tuesday': '11:0-18:0', 'Wednesday': '11:0-18...",0,36.192284,-115.159272,CakesbyToi,,89106,3,1.5,NV
32,2255 N Rampart Blvd,"{'Alcohol': 'none', 'Ambience': '{'romantic': ...",kgffcoxT6BQp-gJ-UQ7Czw,"Fast Food, Restaurants, Sandwiches",Las Vegas,"{'Monday': '9:0-21:0', 'Tuesday': '9:0-21:0', ...",1,36.201794,-115.281981,Subway,Summerlin,89128,13,2.5,NV
33,2227 N Rampart Blvd,"{'Alcohol': 'beer_and_wine', 'Ambience': '{'ro...",0jtRI7hVMpQHpUVtUy4ITw,"Beer, Wine & Spirits, Italian, Food, American ...",Las Vegas,"{'Monday': '7:0-14:30', 'Tuesday': '7:0-19:0',...",1,36.201990,-115.283122,Omelet House Summerlin,Summerlin,89128,242,4.0,NV
61,7930 W Tropical Pkwy,"{'HasTV': 'False', 'RestaurantsReservations': ...",JJEx5wIqs9iGGATOagE8Sg,"Mexican, Restaurants",Las Vegas,None,0,36.271169,-115.267759,Baja Fresh Mexican Grill,Centennial,89149,4,2.0,NV
141,4505 E Bonanza Rd,"{'Alcohol': 'none', 'Ambience': '{'romantic': ...",zhxnD7J5_sCrKSw5cwI9dQ,"Chicken Wings, Restaurants, Fast Food",Las Vegas,"{'Monday': '10:0-23:0', 'Tuesday': '10:0-23:0'...",1,36.173140,-115.077945,Popeyes Louisiana Kitchen,Sunrise,89110,16,1.5,NV

#### Keep relevant columns

* only keep some useful columns
    * business_id
    * name
    * categories
    * stars

In [35]:
selected_features = [u'business_id', u'name', u'categories', u'stars']

In [36]:
df_select=df_filtered[selected_features]

In [37]:
df_select.shape

(6148, 4)

In [38]:
df_review.head(3)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,iCQpiavjjPzJ5_3gPD5Ebg,0,2011-02-25,0,x7mDIiDB3jEiPGPHOmDzyw,2,The pizza was okay. Not the best I've had. I p...,0,msQe1u7Z_XuqjGoqhB0J5g
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g

In [39]:
# Rename the column name "stars" to "avg_stars" to avoid naming conflicts with review dataset
df_select.columns
df_select.rename(columns={"stars":"avg_stars"},inplace=True)

/home/nellieliu0/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [40]:
df_select.head(2)

,business_id,name,categories,avg_stars
19,vJIuDBdu01vCA8y1fwR1OQ,CakesbyToi,"American (Traditional), Food, Bakeries, Restau...",1.5
32,kgffcoxT6BQp-gJ-UQ7Czw,Subway,"Fast Food, Restaurants, Sandwiches",2.5

#### Save results to csv files

In [41]:
# Save to ./data/selected_business.csv for your next task
df_select.to_csv('selected_business.csv', index=False, encoding='utf-8')

In [3]:
# Try reload the csv file to check if everything works fine
df_select=pd.read_csv('selected_business.csv')

In [4]:
df_select.shape

(6148, 4)

### Use the "business_id" column to filter review data

* I want to make a DataFrame that contain and only contain the reviews about the business entities we just obtained

#### Load review dataset

In [7]:
with open(file_review) as f:
    df_review = pd.DataFrame(json.loads(line) for line in f)
df_review.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,iCQpiavjjPzJ5_3gPD5Ebg,0,2011-02-25,0,x7mDIiDB3jEiPGPHOmDzyw,2,The pizza was okay. Not the best I've had. I p...,0,msQe1u7Z_XuqjGoqhB0J5g
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g

In [58]:
df_select.head(2)

,business_id,name,categories,avg_stars
37,saWZO6hB4B8P-mIzS1--Xw,Kabob Palace,"[Persian/Iranian, Restaurants, Ethnic Food, Fo...",2.5
71,hMh9XOwNQcu31NAOCqhAEw,Taste of India,"[Restaurants, Vegetarian, Indian]",3.5

#### Prepare dataframes to be joined, - on business_id

In [8]:
# Prepare the business dataframe and set index to column "business_id", and name it as df_left
df_left=df_select.set_index('business_id')

In [45]:
df_left.shape

(6148, 3)

In [49]:
del df_right

In [9]:
# Prepare the review dataframe and set index to column "business_id", and name it as df_right
df_right=df_review[df_review['date']>'2016-02-01'].set_index('business_id')

In [10]:
df_right.shape

(2848216, 8)

In [12]:

df_final=df_left.join(df_right, how='inner')

In [13]:
df_final.shape

(473382, 11)

In [17]:
df_final.head(5)

,business_id,name,categories,avg_stars,cool,date,funny,review_id,stars,text,useful,user_id
0,--9e1ONYQuAa-CB_Rrw7Tw,Delmonico Steakhouse,"Steakhouses, Restaurants, Cajun/Creole",4.0,0,2017-02-14,0,VETXTwMw6qxzOVDlXfe6Tg,5,went for dinner tonight. Amazing my husband ha...,0,ymlnR8UeFvB4FZL56tCZsA
1,--9e1ONYQuAa-CB_Rrw7Tw,Delmonico Steakhouse,"Steakhouses, Restaurants, Cajun/Creole",4.0,0,2017-12-04,0,S8-8uZ7fa5YbjnEtaW15ng,5,This was an amazing dinning experience! ORDER ...,0,9pSSL6X6lFpY3FCRLEH3og
2,--9e1ONYQuAa-CB_Rrw7Tw,Delmonico Steakhouse,"Steakhouses, Restaurants, Cajun/Creole",4.0,0,2016-08-22,1,1nK5w0VNfDlnR3bOz13dJQ,5,My husband and I went there for lunch on a Sat...,1,gm8nNoA3uB4In5o_Hxpq3g
3,--9e1ONYQuAa-CB_Rrw7Tw,Delmonico Steakhouse,"Steakhouses, Restaurants, Cajun/Creole",4.0,0,2016-09-13,0,N1Z93BthdJ7FT2p5S22jIA,3,Went for a nice anniversary dinner. Researched...,0,CEtidlXNyQzgJSdF1ubPFw
4,--9e1ONYQuAa-CB_Rrw7Tw,Delmonico Steakhouse,"Steakhouses, Restaurants, Cajun/Creole",4.0,0,2016-08-08,0,ir-EVhHyWna7KqYWtj660g,5,Hands down the best meal and service I have ev...,0,9_BhDyzJYf2JwTD9TyXJ4g

In [15]:
# reset the index 
df_final=df_final.reset_indexex()

#### Take a glance at the final dataset

In [16]:
import matplotlib.pyplot as plt

% matplotlib inline

In [18]:
# e.g. calculate counts of reviews per business entity, and plot it
df_final['business_id'].unique().shape

(4759,)

In [19]:
# with 4759 restaurants there are 473382 reviews, almost 100 reviews for each restaurant

In [21]:
df_final['categories'].value_counts().shape

(3321,)

In [23]:
df_final['categories'][-10:]

473372    Food, Acai Bowls, Restaurants, Coffee & Tea, T...
473373    Food, Acai Bowls, Restaurants, Coffee & Tea, T...
473374    Food, Acai Bowls, Restaurants, Coffee & Tea, T...
473375    Food, Acai Bowls, Restaurants, Coffee & Tea, T...
473376    Food, Acai Bowls, Restaurants, Coffee & Tea, T...
473377    Food, Acai Bowls, Restaurants, Coffee & Tea, T...
473378    Food, Acai Bowls, Restaurants, Coffee & Tea, T...
473379    Food, Acai Bowls, Restaurants, Coffee & Tea, T...
473380    Food, Acai Bowls, Restaurants, Coffee & Tea, T...
473381    Food, Acai Bowls, Restaurants, Coffee & Tea, T...
Name: categories, dtype: object

## Save the preprocessed dataset to csv file

In [27]:
# Save to ./data/last_2_years_restaurant_reviews.csv for your next task
df_final.to_csv("final_business.csv", index=False, encoding="utf-8") 
#save as utf-8 including english characters and others

In [28]:
# try reload the csv file to check if everything works find
pd.read_csv("final_business.csv", encoding="utf-8").head()

,business_id,name,categories,avg_stars,cool,date,funny,review_id,stars,text,useful,user_id
0,--9e1ONYQuAa-CB_Rrw7Tw,Delmonico Steakhouse,"Steakhouses, Restaurants, Cajun/Creole",4.0,0,2017-02-14,0,VETXTwMw6qxzOVDlXfe6Tg,5,went for dinner tonight. Amazing my husband ha...,0,ymlnR8UeFvB4FZL56tCZsA
1,--9e1ONYQuAa-CB_Rrw7Tw,Delmonico Steakhouse,"Steakhouses, Restaurants, Cajun/Creole",4.0,0,2017-12-04,0,S8-8uZ7fa5YbjnEtaW15ng,5,This was an amazing dinning experience! ORDER ...,0,9pSSL6X6lFpY3FCRLEH3og
2,--9e1ONYQuAa-CB_Rrw7Tw,Delmonico Steakhouse,"Steakhouses, Restaurants, Cajun/Creole",4.0,0,2016-08-22,1,1nK5w0VNfDlnR3bOz13dJQ,5,My husband and I went there for lunch on a Sat...,1,gm8nNoA3uB4In5o_Hxpq3g
3,--9e1ONYQuAa-CB_Rrw7Tw,Delmonico Steakhouse,"Steakhouses, Restaurants, Cajun/Creole",4.0,0,2016-09-13,0,N1Z93BthdJ7FT2p5S22jIA,3,Went for a nice anniversary dinner. Researched...,0,CEtidlXNyQzgJSdF1ubPFw
4,--9e1ONYQuAa-CB_Rrw7Tw,Delmonico Steakhouse,"Steakhouses, Restaurants, Cajun/Creole",4.0,0,2016-08-08,0,ir-EVhHyWna7KqYWtj660g,5,Hands down the best meal and service I have ev...,0,9_BhDyzJYf2JwTD9TyXJ4g